:root {
  --brand-gradient: linear-gradient(91.57deg, #1bd1c2 54.12%, #3390ff 92.74%);
  --color-text-dark: #0b1928;
  --color-text-light: #3e4757;
  --color-text-blue: #004cd3;
  --color-dark-gray: #0b1928;
  --color-green: #1bd1c2;
  --color-text-dark-bg: #848ea0;
  --color-dark-card-bg: #848ea033;
}

.text-gradient {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MUI RESET */
.css-rizt0-MuiTypography-root {
  @apply !font-sans text-[1.6rem];
  color: var(--color-text-dark);
}

/* .slick-track {
  @apply flex flex-wrap gap-4;
} */
