:root {
  --brand-gradient: linear-gradient(91.57deg, #1bd1c2 54.12%, #3390ff 92.74%);
  --color-text-dark: #0b1928;
  --color-text-light: #3e4757;
  --color-text-blue: #004cd3;
}

.text-gradient {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
